In [1]:
import pandas as pd

/Users/adrienawong/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/adrienawong/.pyenv/versions/3.7.0/lib/python3.7/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv('data/sample_with_label.csv')

In [3]:
df.head()

,Unnamed: 0,TweetID,UserName,TweetText,TweetDateTime,Followers,UserID,WasDeleted
0,0,1244721273793646594,ShannePanne,b'Rhoa',2020-03-30 20:20:52,287,990004076829200385,0
1,1,1244721275232301058,25_ShadesOfK,b'@HisTemp_TAYtion Lol I learned from that shi...,2020-03-30 20:20:52,1189,624244930,0
2,2,1244721275936878593,PlagueJesterSky,b'Trying to set up the stream and I keep getti...,2020-03-30 20:20:52,415,755613447702847488,0
3,3,1244721278650650624,spitbull1963,b'@EricksonReal @Ilhan And you can test as muc...,2020-03-30 20:20:53,16,47425986,0
4,4,1244721278931664896,kamanfrancis,b'Me taking notes for the future when I\xe2\x8...,2020-03-30 20:20:53,1928,269295980,0

In [27]:
def emojiDetection(x):
    return '\\x' in x

In [28]:
df['emoji'] = df['TweetText'].apply(emojiDetection)

In [30]:
df.head()

,Unnamed: 0,TweetID,UserName,TweetText,TweetDateTime,Followers,UserID,WasDeleted,emoji
0,0,1244721273793646594,ShannePanne,b'Rhoa',2020-03-30 20:20:52,287,990004076829200385,0,False
1,1,1244721275232301058,25_ShadesOfK,b'@HisTemp_TAYtion Lol I learned from that shi...,2020-03-30 20:20:52,1189,624244930,0,True
2,2,1244721275936878593,PlagueJesterSky,b'Trying to set up the stream and I keep getti...,2020-03-30 20:20:52,415,755613447702847488,0,False
3,3,1244721278650650624,spitbull1963,b'@EricksonReal @Ilhan And you can test as muc...,2020-03-30 20:20:53,16,47425986,0,True
4,4,1244721278931664896,kamanfrancis,b'Me taking notes for the future when I\xe2\x8...,2020-03-30 20:20:53,1928,269295980,0,True

In [41]:
emoji_del = len(df[(df['emoji'] == True) & (df['WasDeleted'] == 0)])

In [42]:
no_emoji_del = len(df[(df['emoji'] == False) & (df['WasDeleted'] == 0)])

In [43]:
emoji_no_del = len(df[(df['emoji'] == True) & (df['WasDeleted'] == 1)])

In [44]:
no_emoji_no_del = len(df[(df['emoji'] == False) & (df['WasDeleted'] == 1)])

In [45]:
emoji_no_del/emoji_del

0.13136437890858324

In [46]:
no_emoji_no_del/no_emoji_del

0.1209225685208218